html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
}

.container {
  margin: 2em;
}

input {
  min-width: 100px;
  width: 30%;
  padding: 8px;
  border: 1px solid var(--search-border);
  transition: all 0.3s;
  font-weight: 200;
}

input:focus {
  width: 100%;
  outline-color: #3a71ca;
}

input:focus::placeholder {
  color: transparent;
}
