* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(240, 242, 243);
}

.chef-main {
  width: 100%;
  margin: 10px auto;
}

@media (max-width: 600px) {
  .chef-main {
    width: 100%;
  }

  .recipe-ready {
    width: 50%;
    margin: 20px auto;
  }
}

/* chef's header */

.chef-header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  top: 0;
}

.chef-header > img {
  width: 40px;
  margin-right: 15px;
}

.chef-header > h2 {
  font-size: 2rem;
  font-weight: 500;
}

/* chef main body's form */

.chef-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  max-width: 1350px;
  margin: 40px auto;
}

.chef-form > input {
  width: 40%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid rgb(219, 211, 211);
  border-radius: 5px;
  outline: none;
}

.chef-form > button {
  width: 20%;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 1rem;
  padding: 8px;
  outline: no;
}

@media (max-width: 680px) {
  .chef-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chef-form > button,
  .chef-form > input {
    width: 50%;
  }
}

/* ingredients list */

.ingredients-container {
  margin: 30px auto;
  max-width: 600px;
}

.ingredients-container > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 20px;
}

.ingredients-list {
  margin-left: 30px;
  font-size: 1.2rem;
  color: gray;
}

.ingredients-list li::marker {
  color: black;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.list-item h4 {
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 5px;
  width: 59%;
  padding: 8px 20px;
  color: black;
}

.list-item > button {
  padding: 10px 40px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 1rem;
  border: 2px solid red;
}

.list-item > button:active {
  background-color: rgb(240, 242, 243);
  border: 2px solid black;
  color: black;
}

/* recipe ready */

.recipe-ready {
  background-color: rgb(210, 203, 203);
  padding: 20px 0px;
  margin: 40px auto;
  border-radius: 10px;
  max-width: 580px;
  min-width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-ready > button {
  background-color: rgb(180, 63, 21);
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  color: white;
}

/* chef claude resposne */

.chef-response {
  margin: 20px auto;
  max-width: 580px;
  padding: 20px 30px;
}

.chef-response > h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.suggested-recipe-container h2 {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-weight: 500;
}

.suggested-ingredients {
  margin: 10px 0;
}

.suggested-ingredients li {
  margin-left: 25px;
  line-height: 1.5;
}

.suggested-instructions {
  margin: 30px 0 15px;
}

.instruction-set {
  margin: 0 25px;
  line-height: 1.2;
}

.instruction-set li {
  margin-bottom: 15px;
}

.chef-response p {
  margin: 20px 0;
}

.chef-response h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.chef-response h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

ul,
ol {
  margin-bottom: 20px;
}

ul li,
ol li {
  line-height: 1.5;
  font-size: 1rem;
}

/* state learning */

/* .state-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.state-counter {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.state-counter button {
  padding: 5px 30px;
  border: 2px solid rgb(30, 94, 212);
  background-color: rgb(30, 94, 212);
  font-size: 3rem;
  margin: 10px 40px;
  border-radius: 10px;
  color: white;
}

.state-counter button:active {
  color: rgb(30, 94, 212);
  background-color: white;
  border: 2px solid rgb(30, 94, 212);
} */

/* person card's react state object practice */

/* body {
  background-color: #0c4a6e;
} */

/* .person-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
}

.card .avatar {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card .name {
  margin-block: 13px;
  color: #333333;
}

.card .info {
  padding: 10px;
}

.card .favorite {
  width: 25px;
  cursor: pointer;
}

.card .contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

.card .favorite-button {
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
} */

/* counter page */

/* body {
  background-color: #333333;
}

.count-container {
  width: 80%;
  margin: 40px auto;
  height: 100vh;
  padding: 40px auto;
}

.counter {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.count {
  font-size: 2rem;
  background-color: white;
  padding: 40px 50px;
  border-radius: 50%;
}

.minus,
.plus {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: gray;
  border: none;
  border-radius: 50%;
  color: white;
}

.minus {
  bottom: 35%;
  left: 35%;
}

.plus {
  bottom: 35%;
  right: 35%;
}

.minus:active,
.plusactive {
  border: 2px solid black;
  color: black;
  background-color: white;
} */
