:root {
  --color-light: lightgray;
  --color-dark: darkgray;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: var(--color-dark);
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    background-color: var(--color-dark);
  }
  50% {
    background-color: var(--color-light);
    width: 16px;
    height: 16px;
  }
}
