* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: black;
}

.score {
  color: white;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.score h3 {
  font-size: 2rem;
  font-weight: 600;
}

.grid {
  width: 50%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.grid img {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}

.grid img:hover {
  border: 2px solid white;
}

.playagain {
  display: flex;
  justify-content: center;
}

.playagain button {
  font-size: 1.5rem;
  background-color: rgb(19, 94, 206);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 0px 20px;
}

.playagain button:hover {
  border: 2px solid wheat;
}

.playagain button:active {
  background-color: transparent;
  columns: white;
  border: 2px solid white;
}

.hide {
  display: none;
}
